<!DOCTYPE html>
<html lang="en">
<head>

  <title>Padma | པདྨ་</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{{url_for('static', filename='dropdown-menu.js')}}"></script>
  

  <link href="https://fonts.googleapis.com/css2?family=Jomolhari&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>
<body>
  
  <!--- context menu --->
  <div id="dropdown-menu">
    <a id="dictionary_lookup" href="">dictionary lookup</a>
    <a id="search_texts" href="">search texts</a>
    <a id="find_similar" href="">similar words</a>
    <a id="word_statistics" href="">word statistics</a>
    <a id="tokenize" href="">tokenize</a>
  </div>

  <!--- main content area --->
  <div class="container-fluid">
    <button type="image" class="button-image float-right">
      <a href="/"><img class='logo-navi' src="static/padma.png" width=50px;></a>
  </button>
    {% block content %}{% endblock %}
  </div>

</body>
</html>

