{% extends "base.html" %}
{% block content %}

<div class="container w-100 h-100">
    <div class="row w-100 h-100 justify-content-center align-items-center">
        <form class="form-inline" action="/dictionary_lookup" method="post" style="max-width: 440px;">
        <!--- search button  --->
        <div class="form-group col-12 justify-content-center align-items-center">
            <button type="image" class="button-image mx-auto d-block">
                <img src="static/padma.png" width=80px;>
            </button>
        </div>
    <!--- search input field  --->
    <div class="form-group col-12 w-100 h-100 justify-content-center align-items-center">
      <input type="text" class="form-control form-css" name="query">
    </div>
        </form>
  
{% endblock %}