{% extends "base.html" %}
{% block content %}

<style>

.row {
    max-width: 400px;
    width: 80%;
}

.logo {
    margin-top: 30%;
}

</style>

<span class="align-middle">

<center>
    <div class="row justify-content-center logo">
        <form class="form-inline" action="/dictionary_lookup" method="post">
        <!--- search button  --->
        <div class="col-12 my-auto">
            <button type="image" class="button-image mx-auto d-block">
                <img src="static/padma.png" width=80px;>
            </button>
        </div>
    </div>
    <!--- search input field  --->

    <div class="row h-100 justify-content-center">
        <div class="col-12 my-auto">
        <input type="text" class="form-control form-css" name="query">
        </div>
            </form>
    </div>
</center>
{% endblock %}