{% extends "base.html" %}
{% block content %}

<style>
.expand-icon {
    padding-top: 6px;
}
</style>

<div class="container-fixed vertical-center">
 
<div class='tibetan-text-reader'>{{ text|safe }}</div>

{% set start = start %}
{% set end = end + 2 %}

<p class="tibetan-source" id="source"><span class="source" id="source"> {{ text_title|safe }}</span>
  <a href={{ "/render_text?title=" ~ title|safe ~ "&start=" ~ start|safe ~ "&end=" ~ end|safe }}><i class="fa fa-angle-double-right expand-icon" id="add" title='add segments'></i></a></p>
      </div>
{% endblock %}