{% extends "base.html" %}
{% block content %}

<div class="container-fixed">

{% for i in range(text|length) %}
  
  <!--- add following segments to text --->
  {% set start_temp = location[i] %}
  {% set end_temp = location[i] %}
  {% set start = start_temp %}
  {% set end = end_temp + 2 %}

  <!--- handle the request from `>>` --->
  <p class="tibetan-text" id="{{ title[i]|safe }}">{{ text[i]|safe }}<br><span class="tibetan-source" id="source">{{ text_title[i]|safe }}</span>
      <a href={{ "/render_text?title=" ~ title[i]|safe ~ "&start=" ~ start ~ "&end=" ~ end }}><i class="fa fa-angle-double-right expand-icon" title='expand'></i></a>
  </p>

{% endfor %}
</div>
{% endblock %}




