{% extends "base.html" %}

<style>
.d-flex{
  gap: 20px;
}

</style>

{% block content %}

<div class="d-flex">
  
  <div>
  <table class='dataframe'>
    <th class='dataframe'>most common</th>
    <th class='dataframe'></th>
  {% for i in range(most_common_value|length) %}
      <tr>
          <td class="td-key">{{ most_common_key[i]|safe }}</td>
          <td class="td-value">{{ most_common_value[i]|safe }}</td>
      </tr>
  {% endfor %}
  </table>
  </div>

  <div>
    <table class='dataframe'>
      <th class='dataframe'>prominence</th>
      <th class='dataframe'></th>
    {% for i in range(prominence_value|length) %}
      <tr>
          <td class="td-key">{{ prominence_key[i]|safe }}</td>
          <td class="td-value">{{ prominence_value[i]|safe }}%</td>
      </tr>
  {% endfor %}
  </table>
  </div>
  
  <div>
  <table class='dataframe'>
    <th class='dataframe'>co-occuring</th>
    <th class='dataframe'></th>
  {% for i in range(co_occurance_value|length) %}
      <tr>
          <td class="td-key">{{ co_occurance_key[i]|safe }}</td>
          <td class="td-value">{{ co_occurance_value[i]|safe }}</td>
      </tr>
  {% endfor %}
  </table>
  </div>

</div>


{% endblock %}
